.body {
    margin: 5;
}

.photo {
    flex-basis: 33.33%;
    height: 200;
}

.half {
    flex-basis: 50%;
    height: 150;
}

.full {
    flex-basis: 100%;
    height: 200;
}

Image {
    background-color: #f1f1f1;
}
